<div class="container mx-auto">
    <!-- ... -->
    <p>home works!</p>
</div>
<div class="p-4">
    <div class="flow-root">
      <div class="my-4 ...">Well, let me tell you something, ...</div>
    </div>
    <div class="flow-root">
      <div class="my-4 ...">Sure, go ahead, laugh if you want...</div>
    </div>
  </div>
  <div class="flex flex-row text-yellow-100">
    <div class="basis-1/4 bg-indigo-500 text-center border-collapse border-spacing-10 p-5">01</div>
    <div class="basis-1/4 bg-indigo-500 text-center border-collapse border-spacing-10 p-5">02</div>
    <div class="basis-1/2 bg-indigo-500 text-center border-collapse border-spacing-10 p-5">03</div>
  </div>